<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.product.mapper.ProductMapper">

    <!-- 상품 목록 조회 -->
    <select id="list" resultType="Product">
        SELECT *
        FROM product
    </select>

    <!-- 상품 조회 -->
    <select id="select" resultType="Product">
        SELECT *
        FROM product
        WHERE no = #{no}
    </select>

    <!-- 상품 등록 -->
    <insert id="insert">
        INSERT INTO product( name, price, img )
        VALUES ( #{name}, #{price}, #{img} )
    </insert>

    <!-- 상품 수정 -->
    <update id="update">
        UPDATE product
           SET name = #{name}
              ,price = #{price}
              ,img = #{img}
              ,updated_at = #{updatedAt}
        WHERE no = #{no}
    </update>


    <!-- 상품 삭제 -->
    <delete id="delete">
        DELETE FROM product
        WHERE no = #{no}
    </delete>


</mapper>